body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}


.navbar {
  background: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  font-weight: bold;
  font-size: 22px;
  color: black;
}

.menu a {
    background-color: burlywood;
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
}

.menu a:hover {
  text-decoration: underline;
}


.hero {
  height: 450px;
  background: url("image.png");  
  background-size: cover;         
  background-position: center;    
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-text {
  border-radius: 10px;
}

.hero-text h1 {
  font-size: 40px;
  margin: 0;
}

.hero-text button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

.section {
  padding: 40px;
  background: bisque;
}

.section h2 {
  text-align: center;
  color: black;
}


.recipes {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background: #f9f9f9;
  width: 180px;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card p {
  margin-top: 10px;
  font-size: 14px;
}
